{% extends '::base.html.twig' %}

{% bloc content %}
<div class="container">

    <h1>Timeline</h1>

    <table class="statuses_list">
        <thead>
            <tr>
                <th>Content</th>
                <th>Deleted</th>
                <th>Createdat</th>
            </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
            <tr>
                <td>{{ status.content }}</td>
                <td>{{ status.deleted ? "supprimé" : "visible" }}</td>
                <td>{% if status.createdAt %}
                    {{ status.createdAt|date('y-m-d H:i:s') }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

188